@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        scroll-behavior: smooth;
    }
    h1 {
        @apply font-extrabold text-4xl;
    }
    h2 {
        @apply font-extrabold text-3xl;
    }
    h3 {
        @apply font-extrabold text-2xl;
    }
    h4 {
        @apply font-extrabold text-xl;
    }
    h5 {
        @apply font-extrabold text-lg;
    }
    h6 {
        @apply font-extrabold;
    }
    p, li {
        @apply text-gray-600;
    }
}

@layer components {
    /* Grayscale colors */
    /* Font colors */
    .font-title {
        @apply text-gray-900;
    }
    .font-body {
        @apply text-gray-600;
    }
    .font-label {
        @apply text-gray-400;
    }
    .font-line {
        @apply text-gray-300;
    }
    .font-light-bg {
        @apply text-gray-200;
    }
    .font-off-white {
        @apply text-white;
    }
    /* Background color */
    .color-title {
        @apply bg-gray-900;
    }
    .color-body {
        @apply bg-gray-600;
    }
    .color-label {
        @apply bg-gray-400;
    }
    .color-line {
        @apply bg-gray-300;
    }
    .color-light-bg {
        @apply bg-gray-200;
    }
    .color-off-white {
        @apply bg-white;
    }
    /* Layout */
    .section-block-sm {
        @apply flex flex-col items-start space-y-8 max-w-xs	mx-auto;
    }
    .section-block {
        @apply flex flex-col items-center space-y-8 max-w-xl mx-auto;
    }
    .section-block-lg {
        @apply flex flex-col items-center space-y-8 max-w-2xl mx-auto;
    }
    .section-block-full {
        @apply flex flex-col items-start space-y-8 max-w-full;
    }
    /* Elements */
    .chip {
        @apply text-xs font-bold p-5 bg-gray-700 text-white rounded-full px-4 py-1 mt-2 mr-2 transition duration-150 ease-in-out transform hover:scale-105 hover:bg-gray-900 select-none;
    }
    .btn-main {
        @apply border border-gray-800 bg-gray-800 font-off-white px-6 py-2 rounded-full hover:bg-gray-900 hover:border-gray-900 transition;
    }
    .btn-main-outline {
        @apply bg-white border-gray-200 border font-title px-6 py-2 rounded-full hover:bg-gray-800 hover:text-white transition hover:border-gray-800;
    }
    .btn-square-rounded {
        @apply box-border border px-3 py-1 border-gray-900 rounded font-title hover:bg-gray-900 hover:text-white transition;
    }
    .btn-blue {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
}

@layer utilities {
    /* Icons */
    .feather {
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        vertical-align: top;
        display: inline;
    }
    /* Animations */
    .wave {
        animation-name: wave-animation;
        /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;
        /* Change to speed up or slow down */
        animation-iteration-count: infinite;
        /* Never stop waving :) */
        transform-origin: 70% 70%;
        /* Pivot around the bottom-left palm */
        display: inline-block;
    }
    @keyframes wave-animation {
        0% {
            transform: rotate( 0.0deg)
        }
        10% {
            transform: rotate(14.0deg)
        }
        /* The following five values can be played with to make the waving more or less extreme */
        20% {
            transform: rotate(-8.0deg)
        }
        30% {
            transform: rotate(14.0deg)
        }
        40% {
            transform: rotate(-4.0deg)
        }
        50% {
            transform: rotate(10.0deg)
        }
        60% {
            transform: rotate( 0.0deg)
        }
        /* Reset for the last half to pause */
        100% {
            transform: rotate( 0.0deg)
        }
    }
    @variants hover, focus {
        .filter-none {
            filter: none;
        }
        .filter-grayscale {
            filter: grayscale(100%);
        }
    }
}